# see https://batsov.com/articles/2020/11/22/basic-git-setup/
[user]
	email = hrishikeshbman@gmail.com
	name = Hrishikesh Barman
[init]
	defaultBranch = main
[core]
	editor = nvim
	pager = delta
[pull]
	rebase = true
[interactive]
	diffFilter = delta --color-only
[delta]
    navigate = true
    light = false
[merge]
    conflictstyle = diff3
[diff]
    colorMoved = default
