# see https://batsov.com/articles/2020/11/22/basic-git-setup/
[user]
	email = hrishikeshbman@gmail.com
	name = Hrishikesh Barman
[init]
	defaultBranch = main
[core]
	editor = nvim
  pager = delta
[pull]
	rebase = true
[interactive]
  diffFilter = delta --color-only --features=interactive
[delta]
    dark = true
    side-by-side = true
    navigate = true
    file-added-label = [+]
    file-copied-label = [C]
    file-decoration-style = "#606018" overline
    file-modified-label = [M]
    file-removed-label = [-]
    file-renamed-label = [R]
    file-style = 232 bold 184
    zero-style = syntax
    syntax-theme = Monokai Extended
    commit-decoration-style = green box
    commit-style = yellow bold italic
    hunk-header-decoration-style = blue box ul
    hunk-header-file-style = purple ul bold
    hunk-header-line-number-style = yellow box bold
    hunk-header-style = line-number syntax italic
    line-numbers = true
    line-numbers-left-format = "{nm:>1}|"
    line-numbers-left-style = blue
    line-numbers-minus-style = red bold
    line-numbers-plus-style = green bold black
    line-numbers-right-format = "{np:>1}|"
    line-numbers-right-style = blue
    line-numbers-zero-style = white italic
    minus-emph-style = syntax bold red
    plus-emph-style = syntax bold green
    whitespace-error-style = purple bold
[merge]
    conflictstyle = diff3
[diff]
    colorMoved = default
