# see https://batsov.com/articles/2020/11/22/basic-git-setup/
[user]
	email = hrishikeshbman@gmail.com
	name = Hrishikesh Barman
[init]
	defaultBranch = main
[core]
	editor = nvim
[pull]
	rebase = true
