discord
lnav
bottom
Element
dconf
cmus
enchant
firefox
gallery-dl
google-chrome
gtk-3.0
heaptrack_gui
ipython
mimeapps.list
neofetch
nwg-look
okularrc
pulse
qBittorrent
QtProject
QtProject.conf
syncthing
systemd
typiskt
user-dirs.dirs
user-dirs.locale
pypoetry/auth.toml
wireshark
yadm
pdfarranger
pboy
GIMP
dlv
gdlv.*
gdlv
glow
irb
pudb
Insomnia
cni
opensnitch
kwalletrc
